#### Sets - Lab

In [5]:

V = {1,2,3,4,5,6,7,8,9,10,11,12} # universal set
A = {2,4,6,8,10} # Even numbers between[1,10]
B = {3,8,11,12} 
C = {2,3,6,8,9,11}

1. $ A \cap B$

In [6]:
A.intersection(B)

{8}

2. $ A \cup C$

In [3]:
A.union(C)

{2, 3, 4, 6, 8, 9, 10, 11}

3. $A^c$

In [7]:
A_comp = V-A
print (A_comp)

{1, 3, 5, 7, 9, 11, 12}

4.The absolute complement of B

In [8]:
B_comp = V-B
print(B_comp)

{1, 2, 4, 5, 6, 7, 9, 10}

5. $(A∪B)^C$

In [10]:
V-(A.union(B))

{1, 5, 7, 9}

6. $B∩C′$

In [11]:
B.intersection(V-C)

{12}

7. A\B

In [12]:
A.difference(B)

{2, 4, 6, 10}

8. C\ (B\A)

In [13]:
C.difference(B.difference(A))

{2, 6, 8, 9}

9. (C∩A)∪(C∖B)

In [18]:
(C.intersection(A)).union(C.difference(B))

{2, 6, 8, 9}

#### Set Operations in Python

Mary is preparing for a road trip from her hometown, Boston, to Chicago. She has quite a few pets, yet luckily, so do her friends. They try to make sure that they take care of each other's pets while someone is away on a trip. A month ago, each respective person's pet collection was given by the following three sets:

In [98]:
Nina = {"Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"}
Mary = {"Dog","Chinchilla","Horse", "Chicken"}
Eve = {"Rabbit", "Turtle", "Goldfish"}

Sadly, Eve's turtle passed away last week. Let's update her pet list accordingly.

In [99]:
Eve.discard("Turtle")
print (Eve)

{'Rabbit', 'Goldfish'}

This time around, Nina promised to take care of Mary's pets while she's away. But she also wants to make sure her pets are well taken care of. As Nina is already spending a considerable amount of time taking care of her own pets, adding a few more won't make that much of a difference. Nina does want to update her list while Mary is away.

In [100]:
Nina.update(Mary)
print(Nina)

{'Parrot', 'Dog', 'Cat', 'Goldfish', 'Horse', 'Donkey', 'Chicken', 'Chinchilla', 'Rabbit'}

Mary, on the other hand, wants to clear her list altogether while away:

In [101]:
Mary.clear()
print(Mary)

set()

Look at how many species Nina is taking care of right now.

In [102]:
len(Nina)

9

Taking care of this many pets is weighing heavily on Nina. She remembered Eve had a smaller collection of pets lately, and that's why she asks Eve to take care of the common species. This way, the extra pets are not a huge effort on Eve's behalf. Let's update Nina's pet collection.

In [106]:
common_pets = Nina & Eve
Updated_Pets = Nina - common_pets
print (Updated_Pets)

{'Parrot', 'Dog', 'Cat', 'Horse', 'Donkey', 'Chicken', 'Chinchilla'}

#### Writing Down the Elements in a Set   
Mary dropped off her pets at Nina's house and finally made her way to the highway. Awesome, her vacation has begun! She's approaching an exit. At the end of this particular highway exit, cars can either turn left (L), go straight (S) or turn right (R). It's pretty busy and there are two cars driving close to her. What you'll do now is create several sets. You won't be using Python here, it's sufficient to write the sets down on paper. A good notion of sets and subsets will help you calculate probabilities in the next lab!

Note: each set of action is what all three cars are doing at any given time

a. Create a set A of all possible outcomes assuming that all three cars drive in the same direction.

A = {(L,L,L), (S,S,S,), (R,R,R)}

b. Create a set B of all possible outcomes assuming that all three cars drive in a different direction.   
3! = 3 * 2 * 1     = 6   
B={(L,S,R),(L,R,S),(S,L,R),(S,R,L),(R,L,S),(R,S,L)}

c. Create a set C of all possible outcomes assuming that exactly 2 cars turn right.

C={(R,R,L),(R,R,S),(R,L,R),(R,S,R),(L,R,R),(S,R,R)}

d. Create a set D of all possible outcomes assuming that exactly 2 cars drive in the same direction.

D = {(L,L,S),(L,S,L),(S,L,L),(L,L,R),(L,R,L),(R,L,L),(S,S,L),(S,L,S),(L,S,S),(S,S,R),(S,R,S),(R,S,S),(R,R,L),(R,L,R),(L,R,R),(R,R,S),(R,S,R),(S,R,R)}

e. Write down the interpretation and give all possible outcomes for the sets denoted by:   
I. D′  

outcomes not in D = set A|set B   
A|B = {(L,L,L), (S,S,S), (R,R,R)} | {(L,S,R), (L,R,S), (S,L,R), (S,R,L), (R,L,S), (R,S,L)}

II. C ∩ D   
Common outcomes in C & D ={(R,R,L),(R,R,S),(R,L,R),(R,S,R),(L,R,R),(S,R,R)}

III. C ∪ D   

All outcomes in either C or D   
={(L,L,S),(L,S,L),(S,L,L),(L,L,R),(L,R,L),(R,L,L),(S,S,L),(S,L,S),(L,S,S),(S,S,R),(S,R,S),(R,S,S),(R,R,L),(R,L,R),(L,R,R),(R,R,S),(R,S,R),(S,R,R)}

#### Optional Exercise: European Countries   
Use set operations to determine which European countries are not in the European Union. Use the Country column. You just might have to clean the data first with pandas.

In [16]:
import pandas as pd
# load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name= 'Europe')
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name= 'EU')
#Removing whitespaces from country names
europe["Country"] = europe["Country"].str.strip()
europe["Country"] = europe["Country"].str.strip()

In [17]:
europe.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [18]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [20]:
#Check to confirm that the EU countries are a subset of countries in Europe

#change countries to set
europe_set = set(europe["Country"])
eu_set = set(eu["Country"])
#check is EU is subset of Europe
eu_set.issubset(europe_set)

False

In [22]:
# Find the set of countries that are in Europe but not the EU
print(europe_set - eu_set)

{'Bulgaria', 'Macedonia', 'Switzerland', 'Moldova', 'Norway', 'Belarus', 'San Marino', 'Isle of Man (UK)', 'Kosovo', 'Latvia', 'Slovenia', 'Monaco', 'Germany', 'Guernsey (UK)', 'Italy', 'Georgia', 'Svalbard (Norway)', 'Luxembourg', 'Cyprus', 'Austria', 'Liechtenstein', 'Armenia', 'Belgium', 'Romania', 'Hungary', 'Azerbaijan', 'Andorra', 'Denmark', 'Finland', 'Portugal', 'Turkey', 'Lithuania', 'Bosnia and Herzegovina', 'Estonia', 'Iceland', 'Sweden', 'Malta', 'Åland Islands (Finland)', 'Slovakia', 'Russia', 'Netherlands', 'Poland', 'Greece', 'Serbia', 'Montenegro', 'Jersey (UK)', 'Ireland', 'Croatia', 'Gibraltar (UK)', 'Czech Republic', 'Ukraine', 'Vatican City', 'Faroe Islands (Denmark)', 'Spain', 'Albania'}